body
{
    background-color: #D6DCDE;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
}

.wrapper{
    width: 700px;
    height: 1395.640px;
    background-color: #D6DCDE;
    margin-left: 129px;
}

.header{
    background-color: #BB131A;
    width: 700px;
    height: 115px;
}

.listeOben{
    height: auto;
    box-sizing: border-box;
}

.Oben{
    background-color: #9E0B0F;
    display: block;
    list-style-type: disc;
    justify-content: space-between;
    display: flex;
    color: #FFFFFF;

}

h4:hover{
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    color: rgb(171, 173, 173);
}

li{
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    font-size: 11px;
    line-height: 16px;
}

h4{
    color: #FFFFFF;
    font-weight: normal;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}

a{
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
}

.iconline{
    height: 60px;
    display: flex;
    align-items: center;
}

.iconoben{
    margin-left: 25px;
}

.colorline1{
    background-color: #D32824;
    height: 7px;
}
.colorline2{
    background-color: #E94E38;
    height: 2px;
}

.unten{
    background-color: #790000;
    display: block;
    list-style-type: disc;
    justify-content: space-between;
    display: flex;
    color: #FFFFFF;
}


.imag{
    padding-top: 8px;
    height: 280px;
}

.textMeem
{
    display: block;
    background-color: #FFFFFF;
    margin-top: -65px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.Corona
{
    box-sizing: border-box;

}

h2{
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga";
    font-size: 18px;
    margin-left: 15px;
    padding-top: 17px;
    color: #84868c;
    font-size: 19px;
}

h1{
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga";
    font-size: 26px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
    color: rgb(51, 51, 51);
    margin-left: 15px;
    
}

p{
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern"; 
    font-size: 12px;
    line-height: 1.875rem;
    font-weight: 700;
    padding-top: 5px;
    margin-bottom: 16px;
    color: rgb(51, 51, 51);
    margin-left: 15px;
    margin-right: 10px;
}

.rest
{
    background-color: white;
    margin-top: -140px;
    height: 450px;
}